<div class="container" id="firstRow">
  <div class="columns">
    <div class="column">
      <div class="box">
        <img src="/public/images/Domingo Playlist Tumblr Banner.png" alt="">
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column is-one-third">
      <div class="card">
        <div class="card-content">
          <p class="title">
            "With e-currency based on cryptographic proof, without the need to trust a third party middleman,
            money
            can be secure and transactions effortless.""
          </p>
          <p class="subtitle">
            Satoshi Nakamoto
          </p>
        </div>
        <footer class="card-footer">
          <p class="card-footer-item">
            <span>
              Acesse nosso <a href="https://twitter.com/codinghorror/status/506010907021828096">Telegram!</a>
            </span>
          </p>
          <p class="card-footer-item">
            <span>
              Mais de <a
                href="https://freedomnode.com/blog/21-wise-and-funny-bitcoin-quotes-by-satoshi-nakamoto/">Satoshi</a>
            </span>
          </p>
        </footer>
      </div>
    </div>
    <div class="column is-two-thirds">
      <div class="card" id="card-top">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="/public/images/iyan1.jpg" width="96px" height="96px" alt="Placeholder image" />
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">
                Iyan Lucas
              </p>
              <p class="subtitle is-6">
                @DadaMaldade
              </p>
            </div>
          </div>
          <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus nec iaculis mauris.
            <a>
              @bulmaio
            </a>
            .
            <a href="#">
              #css
            </a>
            <a href="#">
              #responsive
            </a>
            <br />
            <time datetime="2016-1-1">
              11:09 PM - 12 Fev 2021
            </time>
          </div>
        </div>
      </div>
      <div class="card" id="card-top">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="/public/images/cossin2.jpeg" width="96px" height="96px" alt="Placeholder image" />
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">
                Guilherme Cosso
              </p>
              <p class="subtitle is-6">
                @cossin
              </p>
            </div>
          </div>
          <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus nec iaculis mauris.
            <a>
              @bulmaio
            </a>
            .
            <a href="#">
              #css
            </a>
            <a href="#">
              #responsive
            </a>
            <br />
            <time datetime="2016-1-1">
              11:09 PM - 1 Jan 2016
            </time>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <hr>
      <hr id="hr">
    </div>
  </div>

  <div class="box" id="boxbox">
    <div class="containerAll">
      <div class="columns">

        <div class="column is-one-third" id="image">
          <div class="xbox">
            <div class="imgBx">
              <img src="/public/images/download.png" alt="Placeholder image" class="layer">
            </div>
            <div class="content">
              <div>
                <h2>Image</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates ipsa numquam animi.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-one-third" id="image">
          <div class="xbox">
            <div class="imgBx">
              <img src="/public/images/download.png" alt="Placeholder image" class="layer">
            </div>
            <div class="content">
              <div>
                <h2>Image</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates ipsa numquam animi.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-one-third" id="image">
          <div class="xbox">
            <div class="imgBx">
              <img src="/public/images/download.png" alt="Placeholder image" class="layer">
            </div>
            <div class="content">
              <div>
                <h2>Image</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates ipsa numquam animi.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
  <div class="columns">

    <div class="column">

      <div class="box">
        <div id="quiz"></div>
        <button id="submit"><span>Submit Quiz</span></button>
        <div id="results"></div>
      </div>
      <hr>
      <hr id="hr">
    </div>
  </div>
  <div class="box" id="study-box">

    <div class="columns">
      <div class="column" id="study">
        <h1>Estude mais!</h1>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="box">
          <a href="">
            <h2>Lorem, ipsum dolor.</h2>
          </a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam placeat tempora labore pariatur sapiente
            tenetur!</p>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <a href="">
            <h2>Lorem, ipsum dolor.</h2>
          </a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam placeat tempora labore pariatur sapiente
            tenetur!</p>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <a href="">
            <h2>Lorem, ipsum dolor.</h2>
          </a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam placeat tempora labore pariatur sapiente
            tenetur!</p>
        </div>
      </div>
    </div>
  </div>

</div>