<!-- MAIN BODY -->
<div class="columns">
  <div class="column">
    <div class="card" id="card-quemSomos">
      <div class="card-content">
        <p class="title is-warning">
          Quem somos nós?
        </p>
        <p class="subtitle">
          Nossa breve história
        </p>
      </div>
      <div class="card-content">
        <div class="content">
          Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida at eget
          metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis
          consectetur purus sit amet fermentum.
        </div>
      </div>
    </div>
    <hr>
    <hr id="hr">

  </div>

</div>
<div class="columns">
  <div class="column">
    <div class="card">
      <div class="card-content">
        <p class="title">
          “Tudo o que eu fiz não vale uma sinfonia de Mozart.”
        </p>
        <p class="subtitle">
          César Lattes
        </p>
      </div>
      <div class="card-content">
        <div class="content">
          Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida at eget
          metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis
          consectetur purus sit amet fermentum.
        </div>
      </div>
      <footer class="card-footer">
        <p class="card-footer-item">
          <span>
            Conheça <a href="https://twitter.com/codinghorror/status/506010907021828096">Carlos Martins</a>
          </span>
        </p>
        <p class="card-footer-item">
          <span>
            Redes <a href="#">Sociais</a>
          </span>
        </p>
      </footer>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-content">
        <p class="title">
          “Ad astra, per aspera”
        </p>
        <p class="subtitle">
          Provérbio Romano
        </p>
      </div>
      <div class="card-content">
        <div class="content">
          Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida at eget
          metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis
          consectetur purus sit amet fermentum.
        </div>
      </div>
      <footer class="card-footer">
        <p class="card-footer-item">
          <span>
            Conheça <a href="https://twitter.com/codinghorror/status/506010907021828096">Iyan Lucas</a>
          </span>
        </p>
        <p class="card-footer-item">
          <span>
            Redes <a href="#">Sociais</a>
          </span>
        </p>
      </footer>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-content">
        <p class="title">
          “Só existem duas trilhas: loucura ou hipocrisia”
        </p>
        <p class="subtitle">
          Filipe Ret
        </p>
      </div>
      <div class="card-content">
        <div class="content">
          Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida at eget
          metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis
          consectetur purus sit amet fermentum.
        </div>
      </div>
      <footer class="card-footer">
        <p class="card-footer-item">
          <span>
            Conheça <a href="https://twitter.com/codinghorror/status/506010907021828096">Guilherme Cosso</a>
          </span>
        </p>
        <p class="card-footer-item">
          <span>
            Redes <a href="#">Sociais</a>
          </span>
        </p>
      </footer>
    </div>
  </div>

</div>
<div class="columns">
  <div class="column">
    <div class="card">
      <div class="card-image">
        <figure class="image is-1by1">
          <img src="/public/images/iyan2.jpg" alt="Placeholder image" />
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="/public/images/iyan1.jpg" alt="Placeholder image" />
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">
              Carlos Martins
            </p>
            <p class="subtitle is-6">
              @capsm
            </p>
          </div>
        </div>
        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Phasellus nec iaculis mauris.
          <a>
            @bulmaio
          </a>
          .
          <a href="#">
            #css
          </a>
          <a href="#">
            #responsive
          </a>
          <br />
          <time datetime="2016-1-1">
            11:09 PM - 1 Jan 2016
          </time>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-image">
        <figure class="image is-1by1">
          <img src="/public/images/iyan2.jpg" alt="Placeholder image" />
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="/public/images/iyan1.jpg" alt="Placeholder image" />
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">
              Iyan Lucas
            </p>
            <p class="subtitle is-6">
              @DadaMaldade
            </p>
          </div>
        </div>
        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Phasellus nec iaculis mauris.
          <a>
            @bulmaio
          </a>
          .
          <a href="#">
            #css
          </a>
          <a href="#">
            #responsive
          </a>
          <br />
          <time datetime="2016-1-1">
            11:09 PM - 1 Jan 2016
          </time>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-image">
        <figure class="image is-1by1">
          <img src="/public/images/cossin1.jpe" alt="Placeholder image" />
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="/public/images/cossin2.jpeg" alt="Placeholder image" />
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">
              Guilherme Cosso
            </p>
            <p class="subtitle is-6">
              @cossin
            </p>
          </div>
        </div>
        <div class="content">
          Olá, meu nome é Guilherme Côsso tenho 20 anos e estou cursando Ciência da Computação na PUC Minas apaixonado
          pelo que faço comunicativo e amo trabalhar em equipe.
          <a>
            @bulmaio
          </a>
          .
          <a href="#">
            #css
          </a>
          <a href="#">
            #responsive
          </a>
          <br />
          <time datetime="2016-1-1">
            11:09 PM - 1 Jan 2016
          </time>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="columns">
  <div class="column">
    <hr>
    <hr id="hr">
    <div class="card">
      <div class="card-content">
        <div class="content">
          Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida at eget
          metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis
          consectetur purus sit amet fermentum.
        </div>
      </div>
    </div>
  </div>

</div>
<div class="columns">
  <div class="column">
    <div class="box">
      <img src="/public/images/Domingo Playlist Tumblr Banner.png" alt="">
    </div>
  </div>
</div>
</div>

<!-- MAIN BODY END -->
<!-- FOOTER -->
<!-- FOOTER END -->